---
---

@import "minimal-light";

/* Light mode author styles */
.me {
  font-weight: 900;
  color: #7b5aa6;
}

.coauthor {
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222 !important;
    color: #eee6f3 !important;
  }

  a {
    color: #5DA6C5 !important;
  }

  autocolor {
    color: #5DA6C5 !important;
  }

  .author .me {
    color: #5DA6C5 !important;
    font-weight: normal !important;
  }

  .author a.coauthor {
    color: #ffffff !important;
  }

  h1,
  h3 {
    color: #eeeff0 !important;
  }

  h2 {
    color: #d6d6d6 !important;
  }

  .social-icons a:hover {
    color: white !important;
  }

  code,
  pre {
    color: #ffffff !important;
    background: #333 !important;
    border-color: #444 !important;
  }
}
